@define-color background #000000;
@define-color foreground #a9b1d6;
@define-color focused #bb9af7;
@define-color occupied #c0caf5;
@define-color empty #565f89;
@define-color urgent #f7768e;

* {
  font-family: RobotoMono Nerd Font;
  font-size: 12pt;
  min-height: 0px;
}

window#waybar {
  color: @foreground;
  background: @background;
}

window#waybar.fullscreen #window {
  color: @focused;
  font-weight: bold;
}

#workspaces button {
  padding: 0px;
  margin: 5px;
  border-radius: 0px;
  color: @occupied;
}

#workspaces button.empty {
  color: @empty;
}

#workspaces button.active {
  color: @focused;
}

#workspaces button.urgent {
  color: @urgent;
}

#taskbar button {
  color: @occupied;
}

#tray {
  padding: 0px 12px;
}

/* Adding margin and padding */
#windowcount {
  margin-left: 0px;
  padding: 0px 5px;
}
