* {
  color: #e5e9f0;
  background: transparent;
  font-family: "FiraCode Nerd Font";
}

#window {
  background: rgba(41, 46, 66, 1);
  border-radius: 10px;
  border: 2px solid rgb(253,224,24);
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  border-radius: 15px;
}

#entry:selected {
  background-color: #2e3440;
}

#text {
  margin: 2px;
}
