* {
  color: #e5e9f0;
  background: transparent;
  font-family: "FiraCode Nerd Font";
}

#window {
  background: rgba(41, 46, 66, 1);
}


#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  outline: 2px solid red;
}

#inner-box {
  padding: 10px;
}

#entry {
  border-radius: 15px;
}

#entry:selected {
  background-color: #2e3440;
}

#text {
  margin: 2px;
}
